:root {
    --res-width: 1920px;
    --res-height: 1080px;
    --font-color: #fff;
    --dark-color: #1C0C5B;
    --normal-color: #3D2C8D;
    --midtone-color: #916BBF;
    --hightlight-color: #C996CC;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight);
}

body {
    background-color: var(--dark-color);
    color: var(--font-color);
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--normal-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--midtone-color);
}

#display {
    width: calc(var(--res-width) * 0.8);
    height: calc(var(--res-height) * 0.8);
    background-color: var(--normal-color);
}

#controller {
    width: calc(var(--res-width) * 0.8);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

}

#play {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

input[type=range] {
    -webkit-appearance: none;
    margin-right: 0.3rem;
    height: 0.2rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--midtone-color);
    border-radius: 50%;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--normal-color);
}

input[type="file"] {
    display: none;
}

#import {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.input-file {
    padding: 0.5rem 3rem;
    margin: 0rem 1rem; 
    border-radius: 2rem;
    background-color: var(--midtone-color);
    cursor: pointer;
}

.input-file:hover {
    background-color: var(--normal-color);
}