:root {
    --font-color: #fff;
    --dark-color: #1C0C5B;
    --normal-color: #3D2C8D;
    --midtone-color: #916BBF;
    --hightlight-color: #C996CC;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: var(--font-weight);
}

body {
    padding: 1rem 0px 1rem 0px;
    margin: 0px;
    width: 100%;
    background-color: var(--dark-color);
    color: var(--font-color);
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    background-color: var(--normal-color);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--midtone-color);
}

#display {
    overflow: hidden;
    width: calc(var(--res-width));
    height: calc(var(--res-height));
    background-color: var(--normal-color);
}

#display > div {
    position: absolute;
}

#background {
    width: calc(var(--res-width));
    height: calc(var(--res-height));
}

#controller {
    width: calc(var(--res-width));
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#play {
    width: 2rem;
    height: 2rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
    transition: filter 0.1s ease-in;
}

#play:hover {
    filter: brightness(1.5);
    transition: filter 0.1s ease-out;
}

input[type=range] {
    -webkit-appearance: none;
    margin-right: 0.3rem;
    height: 0.2rem;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1rem;
    height: 1rem;
    background-color: var(--midtone-color);
    border-radius: 50%;
    transition: background-color 0.2s ease-in;
}

input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--normal-color);
    transition: background-color 0.2s ease-out;
}

input[type="file"] {
    display: none;
}

#import {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.input-file {
    padding: 0.5rem 3rem;
    margin: 0rem 1rem; 
    border-radius: 2rem;
    background-color: var(--midtone-color);
    cursor: pointer;
    transition: background-color 0.2s ease-in;
}

.input-file:hover {
    background-color: var(--normal-color);
    transition: background-color 0.2s ease-out;
}

@media screen and (max-width: 720px) {
    #play {
        width: 1rem;
        height: 1rem;
    }

    input[type=range]::-webkit-slider-thumb {
        width: 0.5rem;
        height: 0.5rem;
    }

    input[type=range] {
        height: 0.1rem;
    }

    .input-file {
        padding: 0.5rem 1rem;
        margin: 0rem 0.5rem; 
    }

    #import {
        flex-direction: column;
    }

    .input-file {
        margin: 0.5rem 0rem;
    }
}